@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://lh3.googleusercontent.com/proxy/TllLPKIJEYr7jVAnk4bJnqBsp9oeRzDaLUN_Ldu2G5W97IfTElqc2fIoiVC6WPBSP4qMIeG0XvIBX8eGLk2YGBVxtGMSXQ6HWbZEneITXe9_XZomMRrRRXfMvIvzfNIbxtxhMvABBvIHCCRCdUgWgFVfghL7tOE" alt="">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
